@font-face {
    font-family: "Geist";
    src: url("Geist-Thin_a2d842453115.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("Geist-Light_0a3db9e1c01a.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("Geist-Regular_5bf04176c665.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("Geist-Medium_2f680e75ec86.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("Geist-SemiBold_58cf3b8a50e5.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("Geist-Bold_18ba7311ae65.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Qurova";
    src: url("Qurova-SemiBold_1128b00f9e26.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Qurova";
    src: url("Qurova-SemiBold_1128b00f9e26.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
